@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Yeah Right";
}

    <h1>Your response has been uploaded to the database.</h1>



